<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col mb-3 text-capitalize" *ngFor="let pm of collected">
        <app-pokemon-card
          
          [name]="pm.name"
          [url]="pm.url"
          (sendId)="removeFromCollection($event)"
          [buttonType]="'outline-danger'"
          [buttonText]="'Release'"
          [component]="'trainer'"
        >
        </app-pokemon-card>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <app-trainer-card class="fixed"></app-trainer-card>
  </div>
</div>
