<div class="row justify-content-center">
    <div class="col-md-8 align-self-center text-align">
        <h2>Welcome to the world of Pokèmon</h2>    
    </div>
    <div class="col-md-4 mb-5">
        <img src="../assets/img/pikachu.png" alt="pikachu" width="150">
    </div>
</div>