<label for="username">Enter your username: </label>
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <div class="input-group mb-3">
      <input
        class="form-control"
        type="text"
        ngModel
        #username="ngModel"
        name="username"
        required
        minlength="3"
        id="username"
        placeholder="exampleusername"
      />
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </div>
</form>
<div *ngIf="username.invalid && (username.dirty || username.touched)">
  <div class="alert alert-warning" role="alert" *ngIf="username.errors?.['required']">
    Username can't be empty.
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="username.errors?.['minlength']">
    Username too short.
  </div>
</div>
<div *ngIf="loading" class="alert alert-light text-center" role="alert">
  Loading...
</div>