<div class="card col" style="width: 8rem;">
    <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon{{id}}.png" alt={{name}}>
    <div class="card-body">
      <h6 class="card-title">{{name}}</h6>
      <button class="btn btn-{{buttonType}}" *ngIf="!collected || component === 'trainer'" (click)="onSendId()">{{buttonText}}</button>
    </div>
    <div class="card-footer bg-success text-white" *ngIf="collected && component === 'catalogue'">Collected</div>
</div>