<div class="card col" *ngIf="trainer" style="width: 16rem">
  <img
    class="card-img-top"
    src="../../../assets/img/pokemon-trainer.png"
    alt="pokemon trainer picture"
    width="50"
  />
  <div class="card-body">
    <h6>Trainer: {{ trainer.username }}</h6>
    <h6>Pokemon caught: {{ trainer.pokemon.length }} of 151</h6>
    <a (click)="releaseAll()" class="btn btn-outline-danger"
      >Release all Pokemon</a
    >
  </div>
  <div
    *ngIf="released"
    class="alert alert-success alert-dismissible fade show text-center m-3"
    role="alert"
  >
    Successfully released all Pokèmon
    <button (click)="dismiss()" type="button-sm" data-dismiss="alert">
      <span aria-hidden="true">x</span>
    </button>
  </div>
</div>
