<div class="row gy-3 justify-content-center">
  <div *ngIf="!pokemon" class="alert alert-light text-center" role="alert">
    Loading...
  </div>
  <div
    class="col row-cols-sm-2 row-cols-md-2 text-capitalize d-grid"
    *ngFor="let pm of pokemon | paginate: { itemsPerPage: 30, currentPage: p, totalItems: 151}"
  >
    <app-pokemon-card
      [name]="pm.name"
      [url]="pm.url"
      (sendId)="addToCollection($event)"
      [buttonType]="'outline-success'"
      [buttonText]="'Collect'"
      [component]="'catalogue'"
    >
    </app-pokemon-card>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col gy-3 offset-lg-4 offset-sm-2 offset-md-4">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
