<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid max-width">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/img/pokeball.png" width="30" height="30" alt="" />
      Pokèmon Trainer
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isNavBarCollapsed = !isNavBarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-end" id="navbarNav" [ngbCollapse]="isNavBarCollapsed">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="trainer">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemon-catalogue">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trainer">Trainer</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="handleLogout()">
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
